<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- navi -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Landingbee</a>
        </div>
      </div>
    </div>
    <!-- end navi -->
    <div class="container admin">
      <div class="left">
        <ul>
          <li><a href="/nimda/category/add">Add category</a></li>
          <li><a href="/nimda/store/add">Add store</a></li>
          <li><a href="/nimda/store/stats">Show stats</a></li>
        </ul>
      </div>
      <div class="right">
        <h1><%= title %> page </h1>
        <form action="/nimda/category/save" method="post">
          <label>category name : </label>
          <input type="text" name="name" class="nm" />
          <button class="btn" type="submit">Save</button>
        </form>
      </div>
    </div>
  </body>
</html>