body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.admin {
  overflow: hidden;
}
.admin .left {
  width: 200px;
  float: left;
}
.admin .right {
  margin-left: 220px;
}
.nm {
  margin: 0 !important;
}